# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoints
*.pt
*.pth
!scraper/data/dataset/*.pt

# Rust build artifacts
target/
**/target/
cargo_target/
**/cargo_target/
%USERPROFILE%/
**/%USERPROFILE%/
Cargo.lock

# Test & IDE
.pytest_cache/
.vscode/
.vs/
scratch/
